body {
  margin-top: 50px;
  background-color:#056e4b;
  color: white;
  font-family: sans-serif;

}
/*table {
  border-spacing: 5px;
}*/
a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6;
    text-decoration:none;
    cursor:pointer;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.content-boreder{
  height: 750px;
  width: 90%;
  background-color:#0eb57e;

  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 30px;
}

.table-spacing{
  border-spacing: 30px;
}
